.mySwiper .swiper-pagination {
    bottom: 0px;
    padding: 0;
    margin: 0;
}
s 
.mySwiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d1d5db; 
    opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: #1e3a8a;
}
